body {
  /*padding: 10px;*/
  font-family: sans-serif;
  font-size: 100%;
  background: #212121;
  color: #fefefe;
}

.main {
    display: block;
    padding: 1rem;
    max-width: 1200px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.header {

}

.footer {

}

.app-body {
    text-align: left;
}
